<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 8px;
        }

        p {
            margin: 0 0 10px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <p>Nombre: {{name}}.</p>
        <p>Email: {{email}}.</p>
        <p>Descripción: {{description}}.</p>
    </div>
</body>
</html>